.stepper {
    background: none;
    padding: 0;
}

.step-icon {
    padding-left: 0.188rem;
}

.actions-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.alert {
    margin-bottom: 1.5rem;
}
