.toolbar {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-text {
    margin: 2px 5px 0 3px;
}

.name {
    word-break: break-all;
}

.alert {
    margin-bottom: 1rem;
}
